.user-profile  {
    /* color: #0093E9 !important; */
    color: #fff
}

.logout a {
    color: #565d6b !important;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-item:hover {
    background-color: #8f9bb317;
}


@media only screen and (max-width: 578px){
    .form-search {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .form-search button{
        margin-top: .5rem;
    }
    
}