body {
    min-width: 500px;
    min-height: 450px;
    /* padding-top: 5rem; */
}

main {
    background: linear-gradient(124deg, rgba(0, 147, 233, 1) 0%, rgba(128, 208, 199, 1) 100%);
    min-height: 450px;
}

.home__container  {
    padding-top: 1rem;
}

.navbar {
    /* border-bottom: 1px solid black; */
    box-shadow: 0px 1px 3px #95a5a6;
}

.title-popup {
    margin-bottom: 1rem;
}

.navbar-toggler:focus {
    outline-color: #00a0fc3a !important;

}

.list-word {
    padding-bottom: 2rem;
}
        
.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 1rem;
}

.home__icon-header a {
    font-size: 1.45rem;
    color: #2c3457;
    padding: 0 .2rem;
    transition: all .2s;
}

.home__icon-header a:hover {
    font-size: 1.4rem;
    color: #0093E9;
    text-decoration: none;
}

.welcome {
    color: #fff;
    padding-bottom: 1rem;
}

.total-word-in-welcome .total-number {
    background-color: #FEBB0B;
    padding: 0 .5rem;
}