/* $color-primary-dark: #0093E9;
$color-primary-light: #80D0C7;
$color-black: #222B54;
$color-gray: #8F9BB3;
$color-white: #fff;
$color-favourite: #ff0180;
$color-warning: #ffc100;
$color-success: #00e096;
$color-disable: rgba(#8f9bb3, .48); 

$font-size-heading1: 3.6rem;
$font-size-heading2: 3.2rem;
$font-size-heading3: 3rem;
$font-size-heading4: 2.6rem;
$font-size-heading5: 2.2rem;
$font-size-heading6: 1.8rem;

$font-size-subtitle1: 1.5rem;
$font-size-subtitle2: 1.3rem;

$font-size-paragraph1: 1.5rem;
$font-size-paragraph2: 1.3rem;

$boder-radious: 50px;
$boder-radious-btn: 5px;

$height-btn-small: 45px;
$height-btn-large: 60px;
*/


.list-words__pagination {
    transition: all .2s;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.list-words__pagination-content {
    justify-content: center;
    flex-wrap: wrap;
}

.list-words__page-item {
    margin: .5rem 0;
}

.card-item {
    background-color: rgba(#80D0C7, .3);
}

.current-page {
    color: #ff0180 !important;
}