/* $color-primary-dark: #0093E9;
$color-primary-light: #80D0C7;
$color-black: #222B54;
$color-gray: #8F9BB3;
$color-white: #fff;
$color-favourite: #ff0180;
$color-warning: #ffc100;
$color-success: #00e096;
$color-disable: rgba(#8f9bb3, .48); 

$font-size-heading1: 3.6rem;
$font-size-heading2: 3.2rem;
$font-size-heading3: 3rem;
$font-size-heading4: 2.6rem;
$font-size-heading5: 2.2rem;
$font-size-heading6: 1.8rem;

$font-size-subtitle1: 1.5rem;
$font-size-subtitle2: 1.3rem;

$font-size-paragraph1: 1.5rem;
$font-size-paragraph2: 1.3rem;

$boder-radious: 50px;
$boder-radious-btn: 5px;

$height-btn-small: 45px;
$height-btn-large: 60px;
*/

/* .card-item {
    background-color: rgba(#80D0C7, .3);
} */
body {
    background: rgb(128, 208, 199);
    background: linear-gradient(
        124deg,
        rgba(128, 208, 199, 1) 0%,
        rgba(0, 147, 233, 1) 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
}

.list-words__pagination {
    transition: all 0.2s;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.list-words__pagination-content {
    justify-content: center;
    flex-wrap: wrap;
}

.list-words__page-item {
    margin: 0.5rem 0;
}

.card-item {
    background-color: rgba(#80d0c7, 0.3);
}

.current-page {
    color: #ff0180 !important;
}

.list-words__search-input {
    all: none;
    border: none;
    outline: none;
    height: 2.5rem;
    background-color: #f0f0f0;
    padding: 0 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: all 0.2s;
}

.list-words__search-input:focus {
    background-color: #e4e4e4;
}

.list-words__search {
    padding: 3rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-words__search-btn {
    height: 2.5rem;
    padding: 0 1.8rem;
    background-color: #0093e9;
    color: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* font-size: 1.8rem; */
    /* min-width: 9rem; */
    outline: none;
    border: none;
    cursor: pointer;
}
.list-words__search-btn>span{
    font-weight: bold;

}

.list-words__search-btn:focus {
    background-color: #0093e9;
    outline: none;
}

.list-words__tools {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.list-words__tools-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}
.list-words__tools-item:hover {
    font-size: 0.95rem;
}
.list-words__tool-icon {
    font-size: 1.5rem;
    margin-right: 5px;
}

.list-words__header {
    background-color: rgb(248, 248, 248);
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.016);
}
.list-words__header .list-words__logo {
    font-size: 45px;
    background: rgb(0, 147, 233);
    background: linear-gradient(
        124deg,
        rgba(0, 147, 233, 1) 0%,
        rgba(128, 208, 199, 1) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
.list-words__header .list-words__social {
    display: flex;
    align-items: center;
}
.list-words__header .list-words__social .list-words__social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .list-words__social__item {
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 20px rgba(black, 0.5);
    transition: all 0.2s;
    margin: 0 10px;
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .list-words__social__item
    a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .list-words__social__item
    a
    i.fab::before {
    font-size: 30px;
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .list-words__social__item
    a:hover {
    transform: scale(1.1);
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .social__item--instagram
    a {
    color: #7c4a3a;
}
.list-words__header
    .list-words__social
    .list-words__social__list
    .social__item--youtube
    a {
    color: #ff0000;
}

.list-words__header .list-words__social .list-words__menu__switch {
    font-size: 22px;
    margin-left: 10px;
    list-style-type: none;
    letter-spacing: 0.5px;
}

.list-words__header .list-words__social .list-words__menu__switch a {
    line-height: 34px;
    color: #0093e9;
    text-decoration: none;
}

.list-words__header .list-words__social .list-words__menu__switch a:hover {
    color: rgb(48, 107, 255);
}


.list-words {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
/* .card-item-wrap .card-item-wrap-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
.card-item-wrap .card-item-wrap-content .word {
    color: #0093e9;
    word-wrap: break-word;
    font-size: 22px;
}
.card-item-wrap .card-item-wrap-content .define {
}
.card-item-wrap .card-item-wrap-content .btn-delete {
    text-align: right;
} */

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 150px;
    perspective: 1000px;
    margin-bottom: 100px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    background-color: #fff;
    color: black;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.flip-card-front .word {
    text-align: center;
    margin: 0;
    font-size: 22px;
    color: #2980b9;
    word-wrap: break-word;
    width: 100%;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.flip-card-back .definition {
    font-size: 22px;
    margin: 0;
    padding: 15% 7%;
}

/* .flip-card-back .delete {
    align-content: end;
    align-self: flex-end;
} */

.detail-content {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.detail-content input {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.detail-content .date {
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    color: #6c757d;
    font-weight: 500;
}

.detail-content .delete {
    margin-left: 10px;
}

.detail-content .btn-delete {
    margin-left: 10px;
    margin-bottom: 0;
}

.detail-content .btn-delete:hover {
    color: #ff0000;
    transform: scale(1.1);
    transition: all 0.2s;
}

@media only screen and (max-width: 720px) {
    .list-words__header {
        padding: 0 50px;
    }
    .list-words__logo {
        font-size: 30px !important;
    }
    .list-words {
        padding: 20px;
    }
}
