body {
    min-width: 400px;
}

.container-login {
    padding-top: 4rem;
}

.form-login-custom .form-item {
    margin-top: 2rem;
}

.form-login-custom .check-box {
    margin-top: 1rem;
    color: #8F9BB3;
}

.form-login-custom .btn-submit {
    display: flex;
    justify-content: center;
}

.form-login-custom .login-message {
    margin: .5rem auto;
}