body {
    min-width: 400px;
}

.container-login {
    padding-top: 1rem;
}

.form-login-custom .form-item {
    margin-top: 2rem;
}

.form-login-custom .check-box {
    margin-top: 1rem;
    color: #8f9bb3;
}

.form-login-custom .btn-submit {
    display: flex;
    justify-content: center;
}

.form-login-custom .login-message {
    margin: 0.5rem auto;
}

.btn-google-wrap {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-google-wrap .or-line {
    margin-top: 1rem;
    color: #999;
    background-color: #fff;
    position: relative;
    width: 100%;
}

.btn-google-wrap .or-line div {
    display: inline;
    background-color: #fff;
    z-index: 10;
}
/* .btn-google-wrap .or-line::after {
    position: absolute;
    content: "";
    background-color: red;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
} */
