body {
    min-width: 400px;
    max-height: 50px !important;
    /* height: 250px !important; */
    /* padding-top: 5rem; */
}

.form-login-custom .form-item {
    margin-top: 2rem;
}

.form-login-custom .check-box {
    margin-top: 1rem;
    color: #8F9BB3;
}

.form-login-custom .btn-submit {
    display: flex;
    justify-content: center;
}