.modal-edit-word .modal-dialog, .modal-add-new-word .modal-dialog  {
    width: 90vw;
    max-width: 70vw;
}

.modal-edit-word__body, .modal-add-new-word__body {
    display: flex;
    height: 80vh;
    justify-content: space-between;

}   

.modal-edit-word__column, .modal-add-new-word__column {
    flex: 1;
}

.modal-edit-word__left, .modal-add-new-word__left {
    margin-right: 1rem;
}
.modal-edit-word__right, .modal-add-new-word__right {
    overflow-y: auto;
    margin-left: 1rem;
}

.modal-edit-word .title, .modal-add-new-word .title {
    /* margin-top: 1rem; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #222B54;
}

.modal-edit-word .word-wrap, .modal-add-new-word .word-wrap {
    position: relative;
    margin-bottom: 1rem;
}
.modal-edit-word .word-wrap::after, .modal-add-new-word .word-wrap::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-image: linear-gradient( to right, #0093E9 -50%, #80D0C7);;
    margin-top: .8rem;
}  

#modal-edit-word__input-word, #modal-add-new-word__input-word {
    display: none;
}

.modal-edit-word .instruction, .modal-add-new-word .instruction {
    color: #8F9BB3;
    font-style: italic;
}

.modal-edit-word .btn-footer, .modal-add-new-word .btn-footer {
    width: 7rem;
}

.modal-edit-word__word {
    font-size: 2.5rem;
    background: rgb(0, 147, 233);
    background: linear-gradient( to right, #0093E9 -50%, #80D0C7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}

.modal-edit-word-pronunciation, .modal-add-new-word-pronunciation {
    color: #8F9BB3;
    padding: .375rem .75rem;
}
.modal-edit-word__input, .modal-add-new-word__input {
    border-radius: 15px !important;
}

.list-group-item {
    border-radius: 15px !important;
    margin-bottom: .5rem !important;
}
.list-group-item .add-btn {
    text-align: right;
    color: #0093E9;
    cursor: pointer;
    margin-top: 1rem;
}

.suggest-group .subtitle{
    color: #8F9BB3;
    margin: 1rem 0;
}

.list-group-item-add-btn {
    cursor: pointer;
}

.empty {
    font-style: italic;
    color: #8F9BB3;
    text-align: center;
}

.example {
     color: #8F9BB3;
    /* text-align: center; */
}
.example::before{
    content: 'e.g., \201C';
}
.example::after {
    content: '\201D';
}
.exampleSecond {
    color: #8F9BB3;
}
.vietnamese-def-title, .english-def-title {
    color: #80D0C7;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
}
.no-result {
   text-align: center;

}