.modal-edit-word {
}
.modal-edit-word .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.list-group-item .add-btn {
    text-align: right;
    color: #0093E9;
    cursor: pointer;
    margin-top: 1rem;
}

.suggest-group .subtitle{
    color: #8F9BB3;
    margin: 1rem 0;
}