html {
    min-height: 100vh;
    position: relative;
}

body {
    /* background: rgb(128, 208, 199);
    background: linear-gradient(124deg, rgba(128, 208, 199, 1) 0%, rgba(0, 147, 233, 1) 100%);
    background-repeat: no-repeat; */
    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
    /* height: 100vh; */
    background-color: #80D0C7 !important;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 1000; */
    width: 100%;
}

.profile__header {
    background-color: rgb(248, 248, 248);
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.016);
}
.profile__header .profile__logo {
    font-size: 45px;
    background: rgb(0, 147, 233);
    background: linear-gradient(
        124deg,
        rgba(0, 147, 233, 1) 0%,
        rgba(128, 208, 199, 1) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    cursor: pointer;
}
.profile__header .profile__social {
    display: flex;
    align-items: center;
}
.profile__header .profile__social .profile__social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.profile__header
    .profile__social
    .profile__social__list
    .profile__social__item {
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 20px rgba(black, 0.5);
    transition: all 0.2s;
    margin: 0 10px;
}
.profile__header
    .profile__social
    .profile__social__list
    .profile__social__item
    a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.profile__header
    .profile__social
    .profile__social__list
    .profile__social__item
    a
    i.fab::before {
    font-size: 30px;
}
.profile__header
    .profile__social
    .profile__social__list
    .profile__social__item
    a:hover {
    transform: scale(1.1);
}
.profile__header
    .profile__social
    .profile__social__list
    .social__item--instagram
    a {
    color: #7c4a3a;
}
.profile__header
    .profile__social
    .profile__social__list
    .social__item--youtube
    a {
    color: #ff0000;
}

.profile__dropdown__menu {
    cursor: pointer;
    list-style-type: none;
}

.profile__dropdown__menu a img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.profile__dropdown__menu .dropdown-menu {
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 5px;
}

.profile__wrap {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; */
    /* background-color: #80D0C7; */
    /* height: 100%; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* position: absolute;
    bottom: 0;
    top: inherit;
    z-index: 1000;
    width: 100%; */
}

.profile__content {
    margin-top: 20px;
}

.profile__title {
    color: rgb(0, 147, 233);
    font-weight: bold;
    font-size: 35px;
}

.profile__name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile__progress {
    margin: 5px 0;
    text-transform: uppercase;
}

.profile__count-words {
    font-size: 14px;
    line-height: 21px;
}

.profile__card.card-container {
    background: rgb(0, 147, 233);
    background: linear-gradient(
        124deg,
        rgba(0, 147, 233, 1) 0%,
        rgba(128, 208, 199, 1) 100%
    );
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    width: 500px;
    max-width: 100%;
    text-align: center;
    /* margin-top: 42px;
    margin-bottom: 42px; */
    margin: auto;
}

.profile__card.card-container .profile__type.profile__pro {
    color: #231e39;
    background-color: #febb0b;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.profile__card.card-container .profile__avatar {
    border: 1px solid #03bfcb;
    border-radius: 50%;
    padding: 7px;
    width: 150px;
    height: 150px;
}

.profile__card .form-group {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
}

.profile__card .form-group label {
    margin-bottom: 0;
}

.logout-account {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 50px;
}

.btn-logout {
    margin: 0;
}

.profile__delete {
    border-top: 1px solid rgba(128, 208, 199, 1);
    margin-top: 30px;
}

.profile__delete-button {
    color: #3c6382;
    font-size: 15px !important;
    background-color: transparent;
    border: none;
    padding: 0 !important;
    margin-bottom: 5px; 
    border-bottom: 1px solid #3c6382 !important;
    border-radius: 0 !important;
    font-weight: 500 !important;
    outline: none;
}

.profile__button:hover {
    color: #0a3d62;
    border-bottom: 1px solid #0a3d62 !important;
}

.profile__button.btn:focus {
    box-shadow: none;
}

.profile__warning {
    color: #fff;
    font-size: 12px;
    width: 80%;
    margin: auto
}

.dropdown-item.active {
    color: #007bff;
    background-color: transparent !important;
}

@media (max-width: 756px) {
    .profile__header {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 626px) {
    .profile__header {
        display: block;
        text-align: center;
    }
    .profile__social {
        justify-content: center;
        padding-bottom: 10px;
    }
}