body {
    min-width: 400px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405d9d;
    color: #fff;
}

.btn-facebook:hover {
    color: #fff;
}

.btn-google {
    background-color: #de5246;
    color: #fff;
    border-radius: 30px;
    width: fit-content;
    padding: .5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-google:hover {
    color: #fff;
}

.btn-google .icon {
    margin-right: 1.5rem;
}

.btn-google .title {
    font-size: 16px;
}

.btn-create-wrap {
    display: flex;
    justify-content: center;
}